.box{
    border: solid 1px black;    
    width: 85%;
    margin: 0 auto;
}
.title{
    text-align: center;
}
.formdiv{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.textfield{
    width: 500px;
    border-color:rgba(127, 255, 212, 0.815);
    box-shadow: none;
    border-style: solid;
    border-radius: 4px;
}
.submitbutton{
    border-color:rgba(127, 255, 212, 0.815);
    box-shadow: none;
    border-style: solid;
    border-radius: 4px;
    color: rgba(102, 202, 170, 0.876);
}
.clear{
    border-color:rgba(127, 255, 212, 0.815);
    box-shadow: none;
    border-style: solid;
    border-radius: 4px;
    color: rgba(102, 202, 170, 0.876);
}
.submitbutton{
    width: 45px;
    height: 25px;
}
#menu{
    margin-left: 100px;
    margin-top: 60px;
}
.lielements{
    margin: 50px;
    margin-left: 0px;  
}
#menu{
    border: solid red 1px;
    margin-left: 70px;
}
.DoneButtonPressed{
    color: rgb(146, 146, 146);
    text-decoration: line-through;
    
}
.check::before{
    margin-left: 25px;
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    font-weight: 900;
}

